@import "../../node_modules/bootstrap/scss/bootstrap";
@import "../styles/variables.scss";

.card {
  padding: 0.5em;
}
.card-body, .card0-title {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-content: center;
}

.footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;

}